
body {
    /* background-color: #09243c; */
    /* background-color: rgba(0, 92,169,.8); */
    /* background-color: rgba(9, 36,60,1); */
    /* 9 36 60  10 56 97*/
    background-color: rgb(97, 77, 10);
    padding-top: 100px;
    padding-bottom: 100px;
}


.banner {
    position: relative;
    width: 100%;
    height: 450px;
    background-position: center;
}


.container_filter {
    background: white;
    padding-top: 70px;
    padding-bottom: 80px;
}

/* CUSTOM STYLE ISOTOPE*/

.single-content {
  width:25%;

}
.single-content img {
	/* width: 290px; */
  width: 100%;

	 height: 100%;
   padding: 10px;

}

.filters {
	width: 100%;
	text-align: center;
}


